---
import Button from "@components/base/Button.astro";
import copy from "@content/copy/fr.json";
import Mail from "@lucide/astro/icons/mail";

const subject = encodeURIComponent(copy.contact.subject);
const body = encodeURIComponent(copy.contact.body);
const email = encodeURIComponent(copy.contact.mail);
const mailtoLink = `mailto:${email}?subject=${subject}&body=${body}`;
---

<header>
  <div class="container flex items-center justify-between py-8 md:py-12">
    <a href="/" aria-label="Sp3ctra_ homepage" class="text-base font-semibold md:text-lg">
      {copy.seo.title}
    </a>
    <Button href={mailtoLink} size="sm" icon={Mail}>{copy.buttons.demo}</Button>
  </div>
</header>
