---
import { Picture, Image } from "astro:assets";
import copy from "@content/copy/fr.json";

import sp3ctraImage from "@assets/images/sp3ctra_.png";
import palmIcon from "@assets/images/palm.svg";
---

<section class="relative container flex h-full max-h-[800px] min-h-[600px] flex-col">
  <div class="m-16 flex max-w-2xl flex-col gap-2 border-s ps-8">
    <h1 class="text-foreground font-mono text-lg font-normal tracking-wide uppercase">
      {copy.hero.title}
    </h1>
    <p class="text-foreground text-3xl leading-tight">
      {copy.hero.subtitle}
    </p>
  </div>
  <Picture
    src={sp3ctraImage}
    alt="Sp3ctra_ instrument"
    widths={[640, 768, 1024, 1280, 1536]}
    sizes="(max-width: 640px) 640px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (max-width: 1280px) 1280px, 1536px"
    formats={["avif", "webp"]}
    class="absolute top-1/2 -z-1 mt-8 -translate-y-1/2 -rotate-z-5 opacity-0"
    data-fade-in
    priority
  />

  <div class="mt-auto flex justify-center pb-8">
    <div class="flex w-fit items-center">
      <Image src={palmIcon} alt="" class="size-10" aria-hidden="true" />
      <p class="max-w-[30ch] text-center">
        {copy.hero.recognition}
      </p>
      <Image src={palmIcon} alt="" class="size-10 -rotate-y-180" aria-hidden="true" />
    </div>
  </div>
</section>
